* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #3b4550;
  --primary-dark: #0a3d66;
  --primary-hover: #0d5ba8;
  --primary-light: #09f;
  --background: #06182a;
  --text-primary: #ffffff;
  --text-secondary: #cbd5e1;
  --text-muted: #94a3b8;
  --border: rgba(255, 255, 255, 0.1);
  --card-bg: #1e293b;
  --shadow: rgba(0, 0, 0, 0.3);
  --input-bg: #1e293b;
  --hsla-example: hsla(210, 100%, 56%, 1);
}

@font-face {
  font-family: 'Inter Variable';
  font-style: normal;
  font-display: swap;
  font-weight: 100 900;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/inter:vf@latest/latin-wght-normal.woff2) format('woff2-variations');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
  font-family: system-ui;
  background-color: var(--background);
  color: var(--text-primary);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  line-height: 1.6;

}

/* logo */
svg {
  width: 1.5rem;
}

/* disposicion header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--text-muted);
  padding: 0.5rem 1rem;
  height: 3rem;
}

/* logo y menu */
header> :first-child {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

/* nombre empresa */
header> :nth-of-type(1)> :nth-of-type(1) {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.25rem;
}

/* elementos menu */
nav>a {
  text-decoration: none;
  color: var(--text-muted);
  font-size: 0.8rem;
}

/* disposicion cv y foto*/
header> :nth-of-type(2) {
  display: flex;
  align-items: center;
  gap: 1rem;
}

/* boton subir cv */
header> :nth-of-type(2)> :first-child {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5rem;
  height: 1.5rem;
  padding: 0.5rem;
  background-color: var(--primary-dark);
  border-radius: 1.5rem;
  font-size: 1rem;

  &:hover{
    background-color: var(--primary-hover);
    cursor: pointer;
  }
}

/* texto del boton*/
header> :nth-of-type(2)> :first-child p{
  font-size: 0.7rem;
}

/* foto perfil */
header img {
  width: 2rem;
  border-radius: 50%;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  padding-bottom: 5rem;
}

/*section 1 layout flex*/
main> :first-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 1rem;
  min-width: 55rem;
}

/*titulo principal*/
main > :first-child > h1 {
  margin-top: 1rem;
  text-align: center;
  font-size: 2rem;
}

/*subtitulo*/
main> :first-child>p {
  margin-top: 0.5rem;
  text-align: center;
  color: var(--text-muted);
  font-size: 1rem;
}

/*barra de busqueda*/
section:first-of-type>div:first-of-type {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 1.5rem 0;
  background-color: var(--input-bg);
  height: 2rem;
  width: 25rem;
  padding: 0 1rem;
  border-radius: 1.5rem;
  box-shadow: 0 10px 15px -3px var(--shadow);
  border: 1px solid var(--border);
}

/*icono busqueda*/
section:first-of-type svg {
  width: 1rem;
}

section:first-of-type form:first-of-type {
  flex: 1;
}

/*placeholder*/
section:first-of-type form input {
  background: transparent;
  border: none;
  outline: none;
  font: inherit;
  color: var(--text-muted);
  width: 100%;
  font-size: 0.8rem;
}

section:first-of-type div:first-of-type>input::placeholder {
  color: var(--text-muted);
  padding: 1rem;
}

/*filtros*/
section:first-of-type select {
  color: var(--text-primary);
  padding: 0.3rem 1.5rem;
  appearance: none;
  border: none;
  background: none;
  background-color: #242d3a;
  font-size: 0.7rem;
  font-family: inherit;
  cursor: pointer;
  border-radius: 1.2rem;
  margin-right: 1rem;
  box-shadow: 0 10px 15px -3px var(--shadow);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 24 24' fill='none' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='6 9 12 15 18 9'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 0.5rem center;

  &:hover {
    background-color: var(--primary-hover);
    color: var(--text-primary);
  }

}

/* resultado de busqueda */

table caption {
  text-align: left;
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

table {
  border: 1px solid var(--border);
  border-spacing: 0; /* hace que los bordes de las celdas se unan a los laterales */
  border-radius: 1.3rem;
}

table>tr {
  border-bottom: 1px solid var(--border);
}

table td {
  padding: 2rem;
  border-bottom:1px solid var(--border);

}

table tr:last-child td {
  border-bottom: none;
}

table td>h3 {
  font-size: 1.4rem;
  font-weight: 600;

}

table td>span {
  font-size: 1rem;
  font-weight: 500;
  color: var(--text-muted);
}

td>button {
  border: none;
  background-color: var(--primary-dark);
  color: var(--text-primary);
  font-size: 1.2rem;
  width: 8rem;
  height: 3rem;
  border-radius: 0.5rem;

  &:hover {
    background-color: var(--primary-hover);
    cursor: pointer;
  }
}